Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
Flask-SocketIO
Flask-Reuploaded
python-dotenv
psycopg2-binary
arrow
Pillow
openpyxl
ldap3
gunicorn
gevent
gevent-websocket
redis
psycogreen
setuptools