<div class="main__header">
    <form action="{{ url_for('search.results')}}" method="get" class="form__search">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <input type="text" name="q" class="search__input" placeholder="Поиск по всему сервису..."
            value="{{ request.args.get('q', '')}}">
        <button type="submit" class="search__button button">
            <span class="sr-only">Найти</span>
        </button>
    </form>

    <div class="main-notifications">
        <button class="notifications-button button">
            🔔
            <span class="notifications__button-badge" style="display: {{ 'flex' if unread_count > 0 else 'none' }};">
                {{ unread_count }}
            </span>
        </button>

        <div class="dropdown notifications-dropdown" style="display: none;">
            <div class="dropdown-header">
                <p class="dropdown-header__title">Уведомления</p>
                <button type="button" class="dropdown-header__button button">
                    Прочитать все
                </button>
            </div>

            <ul role="list" class="dropdown-list">
                {% if notifications %}
                {% for notif in notifications %}
                <li class="dropdown-item">
                    <a href="{{ url_for('tickets.view_ticket', ticket_id=notif.ticket_id) if notif.ticket_id else '#' }}"
                        class="button dropdown-item__content {% if not notif.is_read %}dropdown-item__content--unchecked{%endif%}">

                        <p class="dropdown-item__title">
                            {% if notif.ticket_id %}По заявке №{{notif.ticket_id}}
                            {% else %} Системное уведомление
                            {% endif %}
                        </p>
                        <p class="dropdown-item__description">{{notif.message}}</p>
                        <time datetime="{{notif.created_at.isoformat()}}" class="dropdown-item__time">
                            {{ notif.created_at.strftime('%d.%m.%Y %H:%M') }}
                        </time>
                    </a>
                </li>
                {% endfor %}
                {% else %}
                <li class="dropdown-item">
                    <p>Нет новых уведомлений</p>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>


</div>