<div id="modalExport" class="modal" style="display: none;">
    <div class="modal__overlay"></div>

    <div class="modal__content">
        <div class="modal__header">
            <h3 class="modal__title h3">Экспортировать заявки в Excel</h3>
            <button type="button" aria-label="Закрыть окно" class="button button--solid modal__close">
                <span class="sr-only">Закрыть</span>
                ⤫
            </button>
        </div>
        <p class="modal__message">
            Загрузите все заявки, либо в промежутке дат.
        </p>

        <div class="modal__actions">
            <button type="button" class="button button--outline button--md modal__cancel">Отмена</button>
            <button type="button" class="button button--solid--primary button--md modal__confirm">Скачать</button>
        </div>
    </div>
</div>