{% extends "base.html" %}

{% block title %}База знаний{% endblock %}

{% block content %}
<section aria-labelledby="faqs" class="section">
    <div class="section__content">
        <div class="content__info">
            <h1 id="faqs" class="h1 content__title">База знаний</h1>
            <p class="content__description">Полезные статьи и инструкции</p>
        </div>

        {% if grouped_articles %}
        <div id="filtersFaq" class="content__filters">
            <div class="filters__group">
                <!-- Начало. Категории -->
                <div class="filters__item">
                    <div class="filters__dropdown">
                        <button type="button" id="filterCategory-button" aria-haspopup="listbox" aria-expanded="false"
                            class="filters__dropdown-button button button--md button--outline">
                            Все категории
                        </button>

                        <ul id="filterCategory" role="listbox" aria-label="Список категорий"
                            class="filters__dropdown-list">
                        </ul>
                    </div>
                </div>
                <!-- Конец. Категории -->
                <a href="{{ url_for('kb.create_article') }}"
                    class="button button--solid--primary button--md noresults__button">
                    Создать статью
                </a>
            </div>
        </div>

        <div class="content__wrap">
            <div class="content__faqs">
                {% for category_name, articles_in_cat in grouped_articles.items() %}
                <div class="faqs-group">
                    <h2 class="faqs-group__category h2">{{ category_name }}</h2>

                    <div class="faqs-group__list">
                        {% for article in articles_in_cat %}
                        <a href="{{url_for('kb.article', id=article.id)}}" class="faqs-group__item">
                            <p class="faqs-group__item-title">{{article.title}}</p>
                            <time datetime="{{ article.updated_at.strftime('%Y-%m-%dT%H:%M:%S') }}"
                                class="faqs-group__item-date">
                                {{ article.updated_at.strftime('%H:%M %d.%m.%Y') }}
                            </time>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% else %}
        <div class="noresults">
            <p class="noresults__title">
                Статей не найдено
            </p>

            <a href="{{ url_for('kb.create_article') }}"
                class="button button--solid--primary button--md noresults__button">
                Создать статью
            </a>
        </div>

        {% endif %}
    </div>
</section>
{% endblock %}