<li class="content__card-item" id="ticket-card-{{ticket.id}}">
    <a href="{{url_for('tickets.view_ticket', ticket_id=ticket.id) }}" class="content__card">
        <div class="card__header">
            <p class="card__index">№ {{ ticket.id }}</p>
            {% include "partials/pages/ticket/status.html" %}

            {% if ticket.categories %}
            {% for cat in ticket.categories %}
            <p class="card__category">
                {{ cat.name }}
            </p>
            {% endfor %}
            {% else %}
            <p class="card__category">
                Без категории
            </p>
            {% endif %}

            {% include "partials/pages/ticket/priority.html" %}
        </div>
        <p class="card__description">
            {{ticket.description | truncate(50)}}
        </p>
        <div class="card__footer">
            <time class="card__date" datetime="{{ ticket.created_at.strftime('%Y-%m-%dT%H:%M:%S') }}">
                {{ ticket.created_at.strftime ('%H:%M %d.%m.%Y') }}
            </time>

            {% if ticket.desired_deadline %}
            <time datetime="{{ ticket.desired_deadline.strftime('%Y-%m-%dT%H:%M:%S') }}" class="card__deadline">
                {{ ticket.desired_deadline.strftime ('%d.%m.%Y') }}
            </time>
            {% endif %}

            <p class="card__executor">
                {% if ticket.executors %}
                Исполнители:
                {{ticket.executors | map(attribute='full_name') | join(', ')}}
                {% else %}
                Исполнители не назначены
                {% endif %}
            </p>
            <p class="card__sender">
                Заявитель: {{ ticket.applicant.full_name }}
            </p>
        </div>
    </a>

    {% if ticket.status == 'Решена' %}
    <button type="button" data-ticket-id="{{ ticket.id }}" class="button--solid card__reopen js-reopen-card-btn"
        title="Открыть повторно">Открыть повторно</button>
    {% endif %}
</li>