{% if ticket.status == "В работе" %}
<span class="ticket__status ticket__status--work">{{ ticket.status }}</span>
{% elif ticket.status == "Новая" %}
<span class="ticket__status ticket__status--new">{{ ticket.status }}</span>
{% elif ticket.status == "Ожидает ответа" %}
<span class="ticket__status ticket__status--wait">{{ ticket.status }}</span>
{% elif ticket.status == "Решена" %}
<span class="ticket__status ticket__status--completed">{{ ticket.status }}</span>
{% elif ticket.status == "В обработке" %}
<span class="ticket__status ticket__status--processing">{{ ticket.status }}</span>
{% elif ticket.status == "Требует проверки" %}
<span class="ticket__status ticket__status--approve">{{ ticket.status }}</span>
{% endif %}