{# partials/pages/ticket/time_block.html #}
<time datetime="{{ ticket.created_at.strftime('%Y-%m-%dT%H:%M:%S') }}" class="ticket__created">
    от {{ ticket.created_at.strftime('%d.%m.%Y %H:%M') }}
</time>

<div class="ticket-deadline">
    <span class="ticket-deadline__label">до</span>
    {% if ticket.desired_deadline %}
    <input type="date" name="ticketTime" id="ticketTime" value="{{ ticket.desired_deadline.strftime('%Y-%m-%d') }}"
        class="ticket-deadline__button button button--outline" {% if not (current_user.role in ['head', 'admin' ] or
        (current_user.role=='classifier' and ticket.status in ['Новая', 'В обработке' ])) %}disabled{% endif %}>
    {% else %}
    <input type="date" name="ticketTime" id="ticketTime" class="ticket-deadline__button button button--outline" {% if
        not (current_user.role in ['head', 'admin' ] or (current_user.role=='classifier' and ticket.status in
        ['Новая', 'В обработке' ])) %}disabled{% endif %}>
    {% endif %}
    {% if ticket.actual_deadline and current_user.role!='user' %}
    <time datetime="{{ ticket.actual_deadline.strftime('%Y-%m-%dT%H:%M:%S') }}" class="ticket-deadline__label button"
        style="color:#e67e22; border-color:#e67e22;" title="Внутренний срок отдела">Внутр: до
        {{ticket.actual_deadline.strftime('%Y-%m-%dT%H:%M:%S')}}
    </time>
    {% endif %}
</div>