{% extends "base.html" %}
{% block title %}Архив заявок{% endblock %}

{% block content %}
<section id="archive-page" class="section" aria-labelledby="archive">
    <div class="section__content">
        <div class="content__info">
            <div class="content__info-group">
                <h1 id="archive" class="h1">Архив заявок</h1>
                {% if current_user.role in ['classifier', 'head', 'admin'] %}
                <a id="exportExcel" href="{{ url_for('dashboards.export_report') }}"
                    class="button button--icon button--sm icon--24 icon__excel--before"
                    title="Выгрузить заявки в Excel">
                </a>
                {% endif %}
            </div>
            <p id="archiveDescription" class="content__description">Просмотрите ваши закрытые заявки</p>
        </div>


        <!-- Динамические кнопки-фильтры -->
        <div class="search-filter" id="archiveTabs">
            {% for category in categories %}
            <a href="#" class="button button--sm button--outline {% if loop.first %}active{% endif %}"
                data-type="{{ category.key }}">
                {{ category.label }}
                <span id="count-{{ category.key }}">{{ counts.get(category.key, 0) }}</span>
            </a>
            {% endfor %}
        </div>

        <!-- Контейнер для карточек -->
        <div class="content__wrap">
            <ul id="archiveCardsContainer" class="content__cards">
                {% include "partials/pages/archive/ticket_list.html" %}
            </ul>
        </div>

        <div id="noResultsMessage" class="noresults" style="display: none;">
            <p class="noresults__title">Архивных заявок не найдено</p>
            <a href="{{ url_for('tickets.new_ticket') }}"
                class="button button--solid--primary button--md noresults__button">
                Создать новую заявку
            </a>
        </div>
    </div>
</section>
{% endblock %}


{% if current_user.role in ['head', 'admin', 'classifier'] %}
{% include "partials/pages/archive/modals.html" %}
{% endif %}

{% block script %}
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
{% endblock %}