{% extends "base.html" %}
{% block title %}Мои заявки{% endblock %}

{% block content %}
<section id="dashboard" class="section" aria-labelledby="user">
    <div class="section__content">
        <div class="content__info">
            <h1 id="user" class="h1 content__title">Мои заявки</h1>
            <p class="content__description">Все ваши обращения в службу поддержки</p>
        </div>

        {% if tickets %}
        <div class="content__wrap">
            <ul class="content__cards">
                {% for ticket in tickets %}
                {% include "partials/pages/ticket/card.html" %}
                {% endfor %}
            </ul>
        </div>

        {% if pagination.total > 18 %}
        {% include "partials/pages/ticket/pagination.html" %}
        {% endif %}

        {% else %}
        <div class="noresults">
            <p class="noresults__title">
                Активных заявок не найдено
            </p>

            <a href="{{ url_for('tickets.new_ticket') }}"
                class="button button--solid--primary button--md noresults__button">
                Создать новую заявку
            </a>
        </div>

        {% endif %}
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
{% endblock %}