<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
    {% include "partials/assets/meta.html" %}

    <title>Service Desk - {% block title %}{% endblock %}</title>
    <meta name="description" content="">

    {% include "partials/assets/favicon.html" %}

    {% include "partials/assets/style.html" %}
</head>

<body>
    {% include "partials/header.html" %}

    <main class="main">
        {% include "partials/main__header.html" %}
        {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}

    {#
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="form-login__messages" style="list-style:none;padding:0;margin:0 0 12px;">
        {% for category, msg in messages %}
        <li class="form-login__message form-login__message--{{ category }}">
            {{ msg }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    #}

    <a href="#menu" aria-label="Перейти к меню"></a>

    {% include "partials/assets/script.html" %}

    <script>
        window.currentUserId = "{{ current_user.id }}";
        window.currentUserRole = "{{ current_user.role }}";
        window.currentUserDepartmentId = "{{ current_user.department_id or 'null' }}";
    </script>
    {% block script %}{% endblock %}
</body>

</html>