{% extends "base.html" %}

{% block title %}Мой профиль{% endblock %}

{% block content %}
<section aria-labelledby="account" class="section">
    <div class="section__content">
        <div class="content__info">
            <h1 id="account" class="h1 content__title">Мой профиль</h1>
            <p class="content__description"></p>
        </div>

        <div class="content__account">
            <div class="account-item">
                <div class="account__img">
                    {% set name_parts = current_user.full_name.split () %}{{ name_parts [0][0] | upper }}{% if
                    name_parts | length > 1 %}{{ name_parts [1][0] | upper }}{% endif %}
                </div>
                <div class="account-block">
                    <p class="account__name h3">{{current_user.full_name}}</p>
                    <span>{% include "partials/pages/account/role.html" %}</span>
                </div>
            </div>
        </div>

        <div class="content__account">
            <h2 class="account__header">Контактная информация</h2>

            <div class="account-contacts">
                <div class="account-contacts__item">
                    <p class="account-contacts__label">Почта</p>
                    <a href="mailto:{{current_user.email}}" class="account-contacts__desc">
                        {{current_user.email}}
                    </a>
                </div>

                <div class="account-contacts__item">
                    <p class="account-contacts__label">Телефон</p>
                    <p class="account-contacts__desc">
                        {{current_user.phone}}
                    </p>
                </div>

                <div class="account-contacts__item">
                    <p class="account-contacts__label">Отдел</p>
                    <p class="account-contacts__desc">{{current_user.department.name}}</p>
                </div>

                <div class="account-contacts__item">
                    <p class="account-contacts__label">Должность</p>
                    <p class="account-contacts__desc">{{current_user.position}}</p>
                </div>
            </div>
        </div>

        <div class="content__account">
            <a href="{{ url_for('auth.logout')}}"
                class="content__account-logout button button--outline--danger button--md">
                Выйти из аккаунта
            </a>
        </div>
    </div>
</section>
{% endblock %}